* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#corazon{
    cursor: pointer;
}
body {
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(blue, pink);
    background-image: url(../img/constelaciones.jpg);
}

header {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

#logincircle {
    color: #fff;
    size: 1em;
    z-index: 50;
    

}



#hearticono:hover {
    color: green;
}


h1 {
    font-family: lobster;
    color: pink;
    background: -webkit-linear-gradient(pink, lightpink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    /*  -webkit-text-stroke: 0.4px #f5f4f4;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;  */
    opacity: 0.8;
    align-self: center;
    display: grid;
    place-content: center;

}

.todo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    background: linear-gradient(pink, rgb(79, 79, 192));
    opacity: 0.8;
    border: white 2px solid;
    border-radius: 1%;
}

/* BUSCADOR */

.buscadorylistas {
    border: white;
}

.buscador {

    position: absolute;
    justify-content: center;
    align-self: center;
    padding-bottom: 15px;
    /* align-self: center;
    display: grid;
    place-content: center; */
    place-content: center;
}

i {
    position: absolute !important;
    z-index: 1;
    color: grey;
    font-size: 1.4rem;
    top: 50%;
    left: 0%;
    display: grid;
    gap: 15px;
}

#input {
    position: relative;
    outline: none;
    padding: 12px 1rem 12px 4rem;
    font-size: 1rem;
    border: 1px solid rgb(241, 240, 240);
    border-radius: 24px;
    width: auto;
    margin-top: 5%;
}

/* FIN DE BUSCADOR */


/* TÍTULOS DE CANCIONES */
h2 {
    font-family: protest riot;
    color: white;
    font-size: 1.8em;
    /*  -webkit-text-stroke: 0.5px #cfbcbc;
    margin-block-start: 3em;
    margin-block-end: 0.65em; */

}


/* LISTAS DE REPRODUCCIÓN */


.listasdereproduccion {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: fit-content;
    gap: 0;
    padding-bottom: 0;
}

#titulobusqueda{
    top: 40px;
    margin-bottom: 0;
    margin-left: 35%;
    margin-top: 20%;

}

.lista {
    display: block;
    margin-left: 10%;
    width: 400px;
    border: rgb(241, 238, 238) solid 1px;
    padding: 2%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 250px;
    margin-bottom: 0;
    



}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.filtrodebusqueda {
    display: grid;
    grid-template-rows: 1fr 5fr;

}


.Playlists {
    display: block;
    margin-left: 10%;
    margin-top: 2%;
    width: 400px;
    border: rgb(226, 220, 220) solid 1px;
    padding: 15px;



}

.playlist1{
    height: 250px;
}

a {
    color: rgb(223, 213, 209);

}

.cancion {
    list-style: none;
    display: flex;
    color: rgb(240, 233, 230);
    font-size: 1.2em;
    cursor: pointer;
    /*   -webkit-text-stroke: 0.5px #ffff;
    margin-block-start: 0.6em;
    margin-block-end: 0.65em; */
}

.cancion span {
    margin-right: 50%;
    
}

.cancion:hover{
    background-color: lightgreen;
}

.listabusqueda {
    height: 100px;
    overflow-y: auto;
    display: block;
    margin-top: 2%;
}

.listaplaylist {
    height: 100px;
    overflow-y: auto;
    display: block;
    margin-top: 2%;
}

.listafavoritos {
    height: 100px;
    overflow-y: auto;
    display: block;
    margin-top: 2%;
}

.favorito {
    display: block;
    margin: 10%;
    margin-top: 2%;
    width: 400px;
    border: rgb(240, 231, 231) solid 1px;
    padding: 15px;
    height: 450px;
}

ul li:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

a:hover {
    color: black;
}

#buscar:hover {
    cursor: pointer;
    color: blueviolet;
    background-color: lightgreen;

}

#input:hover {
    cursor: pointer;
    color: blueviolet;
    background-color: lightgreen;
}

/* FIN DE LISTAS DE REPRODUCCION */

/* INICIO DE REPRODUCCION */

.reproductor {
    border-left: 2px solid white;
}

/* cover album  CANCION*/

.coveralbum {
    background-image: url(../img/fondoreproductor.jpg);
    width: 400px;
    height: 270px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-size: contain;
    background-repeat: no-repeat;


}

/* DESCRIPCIÓN DE CANCIÓN */
.Descripción {
    display: block;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 10px 30px 10px;
    font-family: protest riot;
    color: white;
    font-size: 1.4em;
}


/* BOTONES DE REPRODUCCION*/

.botones {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: grid;
    list-style: none;
    justify-content: center;
    gap: 0.5px;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.botones {
    li {

        padding: 10px;
        gap: 10px;
    }
}