body {
    font-family: playfair display;
}

.ingresar {
    border: 4px solid rgb(255, 255, 255)13;
    width: 300px;
    position: absolute;
    background: linear-gradient(rgb(79, 79, 192), pink);
    opacity: 0.8;
    align-items: center;
    height: 360px;
    top: 25%;
    text-align: center;
    color: white;
    align-self: center;
    left: 40%;
}

.bienvenido {
    color: rgb(255, 255, 255);
    z-index: 89;
    background: linear-gradient(rgb(79, 79, 192), pink);
    opacity: 0.8;
    border: 2px solid white;
    text-align: center;
    font-family: lobster;
    font-size: x-large;
}

body {
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(blue, pink);
    background-image: url(./img/constelaciones.jpg);
}
